#
# Kernel configuration file for the LEAPIORAID
#

config SCSI_LEAPIORAID
	tristate "LeapIO RAID Adapter"
	depends on PCI && SCSI
	select SCSI_SAS_ATTRS
	select RAID_ATTRS
	select IRQ_POLL
	help
	This driver supports LEAPIO RAID controller, which supports PCI Express Gen4 interface
	and supports SAS/SATA HDD/SSD.
